@import '../../../index.scss';

.search-button,
.back-to-filter {
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  background-color: $mainTextColor;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  > a {
    display: block;
    padding: 6px 0;
    color: #fff;
  }
}

.back-to-filter {
  background-color: #fff;
  
  > a {
    color: $mainTextColor;
  }
}